.circuit-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .circuit-svg {
    width: 100%;
    height: 200px;
  }
  
  .circuit-line {
    stroke: #ffffff;
    stroke-width: 5;
    stroke-dasharray: 5,5;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      stroke: #ffffff;
    }
    50% {
      stroke: #00ff00; /* Cambia a verde brillante en el medio del ciclo */
    }
    100% {
      stroke: #ffffff;
    }
  }
  