.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 50px;
  background-color: #1b1b1b;
}

.content-container {
  color: #fff;
  max-width: 500px;
}

button {
  background-color: #61dafb;
  color: #000;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

button:focus {
  outline: none;
}

.Globe {
  flex: 1;
}
