:root {
  --bg-color: #f3f4f6;
  --text-primary: #1f2937;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}